* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    border: 1px solid white;
}

body {
    color: white;
    background-color: black;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

main .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

footer p {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}